<span class="lf-action-view-wrapper">
    <span class="fycon-action-view"></span>
</span>
<span class="lf-text">{{ commentCount }}&nbsp;{{ strings.appName }}</span>
<span class="lf-question-wrapper">
    <span class="fycon-question"></span>
</span>
