<div class="lf-title-text">{{ strings.title }}</div>
<br>
<div class="lf-mock-text">
    <span class="lf-gradient-right"></span>
    {{ strings.mockText }}
    <span>
        <a class="lf-thread-btn fycon-action-view lf-has-num lf-active">5</a>
    </span>
    <span class="lf-gradient-left"></span>
</div>
<br>
<div class="lf-explanation-text">{{{ strings.explanation }}}</div>
