<a data-value="annotation" class="lf-add-annotation fycon-write"></a>
<a data-value="twitter" class="lf-share-twitter fycon-source-twitter"></a>
<a data-value="facebook" class="lf-share-facebook fycon-source-facebook"></a>
