<style type="text/css">
    .lf-thread-btn:before {
        background-image: url('{{ customIcon }}') !important;
        background-size: {{ customIconCfg.width }}px {{ customIconCfg.height }}px !important;
        content: " " !important;
        height: {{ customIconCfg.height }}px !important;
        margin-left: {{ customIconCfg.marginLeft }}px !important;
        margin-right: {{ customIconCfg.marginRight }}px !important;
        margin-top: {{ customIconCfg.marginTop }}px !important;
        width: {{ customIconCfg.width }}px !important;
    }
</style>
