<div class="{{{ prefix }}}-reply-body">
    <div class="{{{ prefix }}}-author-info">
        {{#authorUrl}}
            <a class="content-author-name" href="{{ authorUrl }}" target="_blank">{{ author.displayName }}</a>
        {{/authorUrl}}
        {{^authorUrl}}
            <span class="content-author-name">{{ author.displayName }}</span>
        {{/authorUrl}}
        <a href="#" class="{{{ prefix }}}-author-name">
            Jordan Staniscia
        </a>
        <a href="#" class="{{{ prefix }}}-author-username">
            @jst
        </a>
        <span class="{{{ prefix }}}-timestamp">
            2d
        </span>
    </div>
    <div class="content-body">
        At the park with Carlos today. Exploring the Japanese Gardens. I don't know what he is doing up there. What do you guys think of this pose? <a href="#">#blessed</a>
    </div>
    <div class="meta-footer reply-footer group">
        <div class="actions-left">
            <a class="btn like" href="#">
                <div class="fycon-action-like"></div>
                <span>Like</span>
            </a>
            <a class="btn reply-action" href="#">
                <div class="fycon-action-reply-1"></div>
                <span>Reply</span>
            </a>
            <a class="btn share" href="#">
                <div class="fycon-action-share"></div>
                <span>Share</span>
            </a>
            <a class="btn more" href="#">
                <div class="fycon-action-etc"></div>
                <span>More</span>
            </a>
        </div>
    </div>
</div>
