<iframe src="{{ trackingHost }}/v3/tracking/{{ trackingUrl }}?streamType=Sidenotes"
        frameborder="0"
        style="position: absolute; height: 1px; width: 1px; z-index: 99999; background-color: transparent;"></iframe>
