{{#moderator}}
    <span class="lf-comment-author-tag lf-tag lf-label lf-label-info">{{ strings.commentModeratorTag }}</span>
{{/moderator}}
{{#pending}}
    <span class="lf-comment-pending-tag lf-tag lf-label lf-label-info">{{ strings.commentPendingTag }}</span>
{{/pending}}
