<div class="fycon-icon-sidenotes" />
<h3>{{ strings.appName }}</h3>
<span class="lf-powered-by">powered by</span>
<span class="lf-version">v1.21</span>
<a href="http://web.livefyre.com" target="_blank">{{ strings.livefyreLink }}</a>
<a href="http://support.livefyre.com" target="_blank" class="lf-help fycon-question">{{ strings.helpLink }}</a>
<label class="lf-copyright lf-menu-foot">{{{ strings.copyright }}}</label>
