<header class="lf-menu-head"></header>
<div class="lf-thread-wrapper">
    <div class="lf-thread"></div>
    <button type="button" class="lf-reply-btn lf-btn-lg lf-btn-default"><span class="fycon-action-reply"></span>{{strings.reply}}</button>
</div>
