<header class="lf-write-header">
    <span class="fycon-write"></span>
    <span class="lf-write-title">{{strings.title}}</span>
    <div class="lf-escape-button fycon-x"></div>
</header>
<section class="lf-write-body">
    <span class="lf-write-text">{{strings.text}}</span>
</section>
