<div class="lf-author-flip">
    <div class="lf-author-flip-front">
        <img src="{{ avatar }}" class="lf-author-avatar" onerror="javascript:this.src='{{ defaultAvatar }}';" />
    </div>
    <div class="lf-author-flip-back fycon-settings-gear"></div>
</div>
